@font-face {
  font-family: 'HelveticaNeueLight';
  src: url('../fonts/HelveticaNeue-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: 'HelveticaNeueUltraLight';
  src: url('../fonts/HelveticaNeue-UltraLight.ttf')  format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: 'AvenirNextLTPro-Regular';
  src: url('../fonts/AvenirNextLTPro-Regular.otf')  format('opentype'), /* Safari, Android, iOS */
}